@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model testapp1.Models.User
<h2>Create</h2>

<form method="post" asp-action="CreateUser">
    

    <input asp-for="Name" class="form-control" placeholder="Name" />
    <span asp-validation-for="Name" class="text-danger"></span>
    <br />

    <input asp-for="Email" class="form-control" placeholder="Email" />
    <span asp-validation-for="Email" class="text-danger"></span>
    <br />

    <input asp-for="Address" class="form-control" placeholder="Address" />
    <span asp-validation-for="Address" class="text-danger"></span>
    <br />

    <input type="submit" value="Create" class="btn btn-primary" />
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}